* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #113727, #1dd1a1);
}

.player {
  width: 300px;
  background: #fff;
  /*   margin: 100px; */
  padding: 20px 14px 8px 14px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 2px 90px -11px rgba(13, 100, 76, 0.75);
  -webkit-box-shadow: 10px 2px 90px -11px rgba(13, 100, 76, 0.75);
  -moz-box-shadow: 10px 2px 90px -11px rgba(13, 100, 76, 0.75);
}

.imgBx img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
}

.player audio {
  width: 100%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  border: none;
}

.inner {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.inner ul {
  display: flex;
  align-content: space-evenly;
  list-style-type: none;

}

.inner li a {
  color: white;
  text-decoration: none;
}

.inner li {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 3rem;
}

button #watchLaterButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button #watchLaterButton:hover {
  background-color: #2980b9;
}