{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="static/play.css">
{% endblock %}
{% block body %}
<h2 style="padding-top: 4%; padding-left: 7%; color: white; font-weight: bold; font-size: 2.3em;">
  Your search songs</h2>
<div class="container">
  {% for song in song_results reversed %}
  <div class="card mb-3"
    style="max-width: 540px; margin-top: 3%; margin-left: 30%; border: rgb(224, 204, 230) solid 3px; color: white; background-color: rgb(7, 1, 4);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{ song.image }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ song.song_name }}</h5>
          <p class="card-text">Singer : {{ song.artist }}</p>
          <p class="card-text">Tag : {{ song.tags }}</p>
          <div class="listenltr" style="display: flex;">
            <a style="height: 37px;" href="/song/{{ song.song_id }}" type="submit" class="btn btn-primary">Play</a>
            {% if user.is_authenticated %}
            <a href="{% url 'add_to_listen_later' song.song_id %}"
              style="margin-left: 3rem; color: white; background-color: palevioletred;" class="btn btn-secondary">Add to
              Listen Later</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
  function addToListenLater() {
    // Add your logic here to handle the "Watch Later" functionality
    alert("Added to Listen Later!");
  }
</script>
{% endblock %}